/*selector de etiqueta*/
/*selector*/
body {
  background:#5EE2AC;
}
header {
  background:#fff; /*color fondo*/
  width:100%;/*anchura */
  max-width: 1080px; /*anchura en pixeles*/
  margin: auto; /*centra el contenido*/
  }
  
h1 {
    color: green; /*texto */
    font-size: 40px; /*tamaño letra*/
    text-align: center;
    font-style: oblique;
    font-family: fantasy;
    text-shadow: 2px 2px 5px red;/*sombra altexto */

}

a {
  font-size: 18px;
  color:#fff; /*color texto*/
  text-decoration: none;/*quita subrayado */
  padding: 5px 5px;/*espacio entre el texto*/
  margin: 7px 6px 5px 0px;
  background: #3BA7E1;

}

a:hover {
  text-decoration: underline;
  background:#000;/*fondo color negro al pasar el maus*/
  color:#fff; /*fuente color blanco al pasar el maus*/
}
a:active {
  background: #ff8000;/*cambia de color al dar click*/
}

  
  header nav {
    background: #D6F3EF;
   overflow: hidden; /*ocultar contenido, limpia el float left */
  }
  header nav ul {
    list-style: none; /*borra los puntos de la lista*/
  }
  header nav ul li {
    float:left;
  }
  
  header nav ul li a {
    padding: 10px 20px;/*lados*/
    display: block; /*arriba y abajo*/
   
  }


/*------------------- */
div {
  width:80%; /*ancho*/
 height: 1500px;/*alto*/
 background:#F7FBFB; /*color de fondo*/
  margin:20px 80px; /* margen externo lados 50, arriba y abajo 20*/
  padding: 30px; /*margen interno*/
  border: 2px solid #000; /*anchura del borde, color borde*/
}

img {
  width: 500px;/*ancho*/
  height: auto;
  margin: auto;/*centra imagen */
  display: block;/*con display*/
  border-radius: 5px; /*redondea imagen*/
box-shadow: 5px 5px 0px #424242; /*sombreado*/
padding: 10px;
border: 1px solid #000;
}
.p1 {

   /*propiedad */
    color: black;/*texto */
    font-size: 20px;/*tamaño texto */
    text-align: left; /*alineacion */
    text-align: justify;
    font-family: monospace;  /*estilo de fuente */
    line-height: 1.8; /*espacio de alto */
}

.p2 {
      color:green;
      font-size: 25px;
      text-align: center;
      font-family: cursive;
      word-spacing: 8px;

}

.p3 {
    background: #76D6D2;
    color: #3C5409;
    width:80% ;
    font-size: 17px;
    text-decoration: underline;/*subraya texto */
}

.p4 {
  background: #76D6D2;
  color: #3C5409;
  width:80% ;
  font-size: 17px;
  text-decoration: underline;/*subraya texto */
}


